<html ng-app="usingSearchMultiple">
	<head>
		<title>Using searchMultiple</title>
		
		<!-- Bootstrap -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" crossorigin="anonymous">
		
		<!-- AngularJS -->
		<script src="http://code.angularjs.org/1.0.1/angular-1.0.1.min.js"></script>	

		<!-- advancedSearch -->
		<script src="../searchMultiple.js"></script>		
		<script>
			angular.module('usingSearchMultiple',['advancedSearch']);
			angular.module('usingSearchMultiple').controller('ctrlSearchMultiple', function($scope){
					$scope.clients = [
										{ name: "Gutierry", lastName: "Antonio" , gender:"male"  , age: 18},
										{ name: "Marcos"  , lastName: "Antonio" , gender:"male"  , age: 21},
										{ name: "Antonio" , lastName: "Neto"    , gender:"male"  , age: 27},
										{ name: "Antonia" , lastName: "Maria"   , gender:"female", age: 19},
										{ name: "Maria"   , lastName: "Antonia" , gender:"female", age: 21}
								    ];	
				});
				
			function Controller_Chat($scope){
				$scope.clients = [];
			}	
			
		</script>
	</head>
	
	<body ng-controller="ctrlSearchMultiple">
			
		<div class="col-sm-4" style="margin-top:50px;margin-left:30%">
		
			<a class="list-group-item active">
				  Using searchMultiple
			</a>
			
			<div style="margin-top:10px;margin-left:20px">
				<label>BUSCA</label>
				<input class="form-control" placeholder="Digite sua consulta" ng-model="searchText" style="width:300px"/>
			</div>
			
		<div class="col-sm-4">		  
			<div style="margin-top:8px">				
				<table class="table">					
					<thead>
						<tr>				
							<th>Nome</td>					
							<th>Sobrenome</td>
							<th>Sexo</td>
							<th>Idade</td>
						</tr>
					<thead>
					
					<tbody>
						<tr ng-repeat="client in clients | searchMultiple:{name:searchText, lastName:searchText, gender:searchText}">
							<td>{{client.name}}</td>
							<td>{{client.lastName}}</td>
							<td>{{client.gender}}</td>
							<td>{{client.age}}</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</body>
</html>